<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alfred.craftsman_part">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Applikationen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Välj Rum"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Välj Projekt" />

        <activity android:name=".ChooseFloorActivity"
            android:label="Välj Plan"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".RoomActivity"
            android:label="Välj Arbetspaket"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        
        <activity android:name=".WorkPackageActivity"
            android:label="Arbetspacket Info"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SignActivity"
            android:label="Skriv under"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>